.chat-area{

    &--size{
        width: 100%;
        height: auto;
    }

    &__container{
        margin: auto;
        
        &--size{
            width: 60%;
            height: 100%;
        }
    }

    &__image{
        border-radius: 25px;
        background-color: grey;
        padding: 10px;

        &--size{
            height: 50px;
            width: 50px;
        }
    }

    &__header{
        margin-top: 20px;
        display: flex;
        align-items: center;

        &--size{
            height: 60px;
            width: 100%;
        }
    }

    &__name{
        font-size: 14px;
        font-weight: 600;
        margin-left: 10px;
    }

    &__message-time{
        // margin-left: auto;
        color: grey;
        font-size: 12px;
    }
}

.chat__list{
    list-style: none;
    padding-bottom: 120px;
    margin-top: 20px;

    &--size{
        width: 100%;
        height: auto;
    }

    &--theme{
        
    }
}

@media only screen and (min-width: 1200px) {
    /* tablets and desktop */
    .chat-area{
        // background-color: gainsboro;
    }
}


@media only screen and (max-width: 1200px) {
    /* tablets and desktop */
    .chat-area{

        &__container{
            &--size{
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .chat-area{

        &__container{
            &--size{
                width: 90%;
            }
        }
        
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .chat-area{

        &__container{
            &--size{
                width: 90%;
            }
        }
        
    }
}
