.chat-area{

    &__chat{
        display: flex;
        align-items: center;
        padding: 5px;

        &--size{
            width: auto;
        }
    }

    &__left{
        position: relative;
        display: flex;
        padding: 10px;
        box-shadow: 1px 1px 5px 0px lightgray;

        &--size{
            width: auto;
            height: 60px;
        }
    }

    &__right{
        position: relative;
        display: flex;
        padding: 10px;
        box-shadow: 1px 1px 5px 0px lightgray;
        margin-left: auto;

        &--size{
            width: auto;
            height: 60px;
        }
    }

    &__message{
        margin-right: 100px;
    }

    &__time{
        font-size: 12px;
        // position: absolute;
        right: 0px;
        margin-left: 10px;
    }
}
