.auth-link{
    position: fixed;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.link{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}