.follow-button{
    cursor: pointer;
    border: none;
    color: white;
    margin-left: auto;
    background-color: black;
    padding: 10px 30px;

    &:hover{
        background-color: #ffc107;
        color: black;
    }
}